<div class="row" id="about_us">
  <br><br><br><br><br>
  <div class="col-md-12 text-center bg-about" style="">
    <h4 class="col-md-8 cnt">
      <p>Future Game was created by a group of friends who loves electronic music, whose passion in the genre went further until the creation of the record label, Future Game is a solid label with the support of each of its members, who shown an exquisite taste of electronic music covering a wide range of subgenres.</p>
      <p>Future Game aims to show the importance of the music, being this a key part of the surroundings, the music is the key element which formed the label, is the reason why we have enjoyed, laughed, danced and shared unforgettable moments.</p>
      <p>The Label formed by the members and leaded by Sanabria, is firmly rooted in the support, respect, unity and teamwork by their members, we are a part of world's gear ready to play and stay playing… the future game.</p>
    </h4>
    <div class="col-md-3 lgnd">
      <h2>
        Futurism and Music
        <br>
        It's all about that
        <br>
        Let's enjoy it
      </h2>
    </div>

  </div>
</div>

<style type="text/css">

  .bg-about {
    background-image: url('https://i.imgur.com/FThn2or.jpg');
    color:white;
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .cnt {
    font-size: 19px;
    margin-top: 30px;
    margin-left: 15px;
    padding: 40px;
    padding-right: 50px !important;
    padding-left: 50px !important;
    line-height: 2.0;
    background-color: rgba(0, 0, 0, 0.3);;
  }
  h2 {
    font-size: 25px;
  }
  .lgnd {
    position: absolute;
    bottom: 65px;
    right: -2px;
  }
</style>
