<div class="menu active">
  <div class="btn trigger"></div>
  <div class="rotater">
    <div class="btn btn-icon" data-toggle="modal" data-target="#followModal" style="background-image: url(https://i.imgur.com/XV57fFX.png);top: -39px;left: -42px;"></div>
  </div>
  <div class="rotater">
    <div class="btn btn-icon" data-toggle="modal" data-target="#listenModal" style="background-image: url(https://i.imgur.com/IZbbM5f.png);top: 50px;left: -61px;"></div>
  </div>
  <div class="rotater">
    <div class="btn btn-icon" data-toggle="modal" data-target="#seeModal" style="background-image: url(https://i.imgur.com/NxqxhuZ.png);top: 129px;left: 14px;"></div>
  </div>
  <div class="rotater">
    <div class="btn btn-icon" data-toggle="modal" data-target="#supportModal" style="background-image: url(https://i.imgur.com/Zzan9yq.png);top: 117px;left: 140px;"></div>
  </div>
</div>

<!-- Modal Follow -->
<div class="modal fade" id="followModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="margin-top: 23vh;margin-right: 15vw;">
    <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.5);">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Follow us...</h4>
      </div>
      <div class="modal-body">
          <a href="https://www.facebook.com/Futur3Game/" target="_blank" class="link">
            <i class="fa fa-facebook-square" style="font-size:40px;color:#3b5998;" aria-hidden="true"></i>
            <span style="font-size: 30px;margin-left: 20px;">Future Game</span>
          </a>
          <br>
          <br>
          <a href="https://www.facebook.com/sanabriaofficialfg/" target="_blank" class="link">
            <i class="fa fa-facebook-square" style="font-size:40px;color:#3b5998;" aria-hidden="true"></i>
            <span style="font-size: 30px;margin-left: 20px;">Sanabria</span>
          </a>
          <br>
          <br>
          <a href="https://twitter.com/futuregamelabel" target="_blank" class="link">
            <i class="fa fa-twitter-square" style="font-size:40px;color:#00aced;" aria-hidden="true"></i>
            <span style="font-size: 30px;margin-left: 20px;">Future Game</span>
          </a>
          <br>
      </div>
    </div>
  </div>
</div>

<!-- Modal Listen -->
<div class="modal fade" id="listenModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="margin-top: 40vh;margin-right: 15vw;">
    <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.5);">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Listen us...</h4>
      </div>
      <div class="modal-body">
          <a href="https://soundcloud.com/future_game" target="_blank" class="link">
            <i class="fa fa-soundcloud" style="font-size:40px;color:#d67c0f;" aria-hidden="true"></i>
            <span style="font-size: 30px;margin-left: 20px;">Future Game</span>
          </a>
          <br>
          <br>
          <a href="https://soundcloud.com/sanabria-1" target="_blank" class="link">
            <i class="fa fa-soundcloud" style="font-size:40px;color:#d67c0f;" aria-hidden="true"></i>
            <span style="font-size: 30px;margin-left: 20px;">Sanabria</span>
          </a>
          <br>
          <br>
          <a href="https://www.mixcloud.com/future_game_label/" target="_blank" class="link">
            <i class="fa fa-mixcloud" style="font-size:40px;color:#273a4b;" aria-hidden="true"></i>
            <span style="font-size: 30px;margin-left: 20px;">Future Game</span>
          </a>
          <br>
          <br>
          <a href="https://open.spotify.com/artist/2h7YEnBzCr5SaT3guKp2B5" target="_blank" class="link" style="margin-left: 15px;">
            <i class="fa fa-spotify" style="font-size:40px;color:#81b71a;" aria-hidden="true"></i>
            <span style="font-size: 30px;margin-left: 20px;">Sanabria</span>
          </a>
          <br>
      </div>
    </div>
  </div>
</div>

<!-- Modal See -->
<div class="modal fade" id="seeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="margin-top: 48vh;margin-right: 15vw;">
    <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.5);">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">See us...</h4>
      </div>
      <div class="modal-body">
          <a href="https://www.youtube.com/user/futuregamelabel/" target="_blank" class="link">
            <i class="fa fa-youtube-play" style="font-size:40px;color:#b31a1a;" aria-hidden="true"></i>
            <span style="font-size: 30px;margin-left: 20px;">Future Game</span>
          </a>
          <br>
          <br>
          <a href="https://www.instagram.com/sanabria_fg/" target="_blank" class="link">
            <i class="fa fa-instagram" style="font-size:40px;color:#2b2b2b;" aria-hidden="true"></i>
            <span style="font-size: 30px;margin-left: 20px;">Future Game / Sanabria</span>
          </a>
          <br>
      </div>
    </div>
  </div>
</div>

<!-- Modal Support -->
<div class="modal fade" id="supportModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="margin-top: 62vh;margin-right: 15vw;">
    <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.5);">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Support us...</h4>
      </div>
      <div class="modal-body">
          <a href="https://www.beatport.com/label/future-game/50771" target="_blank" class="link">
            <img src="http://www.rologreen.com/images/stores/beatport.png" style="width: 60px;">
            <span style="font-size: 30px;margin-left: 20px;">Future Game</span>
          </a>
          <br>
          <br>
          <a href="https://futuregame.bandcamp.com/" target="_blank" class="link">
            <i class="fa fa-bandcamp" style="font-size:40px;color:#629aa9;margin-left:10px;" aria-hidden="true"></i>
            <span style="font-size: 30px;margin-left: 30px;">Future Game</span>
          </a>
          <br>
      </div>
    </div>
  </div>
</div>
