<img src="assets/images/logo-text-w.png" class="img-head img-responsive navbar-fixed-top" alt="Future Game Logo">
<nav id="header" class="top-10">
  <ul class="nav nav-justified">
    <li class="animate bounceInDown"><a class="text-upcase" href="#about_us">About Us</a></li>
    <li class="animate bounceInDown"><a class="text-upcase" href="#releases">New Releases</a></li>
    <li class="animate fadeInDown"><a class="text-upcase" href="#artists">Artists</a></li>
    <li class="animate fadeInDown"><a class="text-upcase" href="#shop">Shop</a></li>
    <li class="animate bounceInDown"><a class="text-upcase" href="#demo">Submit Demo</a></li>
    <li class="animate bounceInDown"><a class="text-upcase" href="#contact">Contact</a></li>
  </ul>
</nav>
